<div class="container-fluid">
  <div class="row">
    <div class="col-lg mt-3">(DATE WILL GO HERE)
      <!--  <app-date-time></app-date-time>  -->
    </div>
    <div class="col-lg mt-4">
      <h1>Weather</h1>
    </div>
    <div class="col-lg py-4 right">
      <app-search-bar></app-search-bar>
    </div>
  </div>
</div>
<!-------------------------Display Forecast below here---------------------------------------->
<div class="container-fluid mt-4">
  <!--  <app-forecast></app-forecast> -->
  <div class="row">
    <!--   <div class="col"></div> -->
    <div class="col-md-4 center">
      <h2>{{weatherData?.name}}</h2>
      <div class="icon">(Icon)</div>
      <h3>{{weatherData?.description}} </h3>
    </div>
    <!--     <div class="col-lg left">
      <div class="row">
        <div class="col-lg"></div>
      </div>
    </div> -->
    <div class="col-md-4 center py-5">
      <h3>{{weatherData?.temp}}</h3>
      <h3> [Max] {{weatherData?.temp_max}}</h3>
      <h3> [Min] {{weatherData?.temp_min}}</h3>
    </div>
    <div class="col-md-4 center py-5">
      <h3>[Visibility] {{weatherData?.visibility}}</h3>
      <h3>[Humidity] {{weatherData?.humidity}}</h3>
      <h3>[Wind] {{weatherData?.windSpeed}}</h3>
    </div>
  </div>
</div>
<!------------------------Display Extended Forecast below here-------------------------------->
<div class="container-fluid extForecast d-flex justify-content-center">
  <!--  <app-ext-forecast></app-ext-forecast> -->
  <div class="row center padding">
    <p-card class="padding pad" header="Simple Card" [style]="{ width: '280px'}" styleClass="ui-card-shadow">
      <div> Extended forecast </div>
    </p-card>
    <p-card class="padding pad" header="Simple Card" [style]="{ width: '280px'}" styleClass="ui-card-shadow">
      <div> Extended forecast </div>
    </p-card>
    <p-card class="padding pad" header="Simple Card" [style]="{ width: '280px'}" styleClass="ui-card-shadow">
      <div> Extended forecast </div>
    </p-card>
    <p-card class="padding pad" header="Simple Card" [style]="{ width: '280px'}" styleClass="ui-card-shadow">
      <div> Extended forecast </div>
    </p-card>
    <p-card class="pad" header="Simple Card" [style]="{ width: '280px'}" styleClass="ui-card-shadow">
      <div> Extended forecast </div>
    </p-card>
  </div>
</div>